<!-- Form bookmark start -->
<form action="/create_bookmark_from_venue" method="post">
<!-- Form bookmark end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @bookmark.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for venues_id start -->
  <!-- Input for venues_id start -->
  <input type="hidden" name="venues_id" value="<%= @venue.id %>">
  <!-- Input for venues_id end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <!-- Input for dish_id start -->
    <input type="text" id="dish_id" name="dish_id" class="form-control" value="<%= @bookmark.dish_id %>">
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bookmark
  </button>
</form>
