<h1>
  Edit venue #<%= @venue.id %>
</h1>

<hr>

<form action="/update_venue/<%= @venue.id %>" method="post">

  <div class="form-group">
    <label for="cuisine">
      Cuisine
    </label>

    <input type="text" id="cuisine" name="cuisine" class="form-control" value="<%= @venue.cuisine %>">
  </div>

  <div class="form-group">
    <label for="neighborhood">
      Neighborhood
    </label>

    <input type="text" id="neighborhood" name="neighborhood" class="form-control" value="<%= @venue.neighborhood %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update venue
  </button>
</form>

<hr>

<a href="/venues">
  Go back
</a>
