<h1>
  Add a new venue
</h1>


<hr>

<!-- Form venue start -->
<form action="/create_venue" method="post">
<!-- Form venue end -->

  <!-- Label and input for cuisine start -->
  <div class="form-group">
    <label for="cuisine">
      Cuisine
    </label>

    <!-- Input for cuisine start -->
    <input type="text" id="cuisine" name="cuisine" class="form-control">
    <!-- Input for cuisine end -->
  </div>
  <!-- Label and input for cuisine end -->

  <!-- Label and input for neighborhood start -->
  <div class="form-group">
    <label for="neighborhood">
      Neighborhood
    </label>

    <!-- Input for neighborhood start -->
    <input type="text" id="neighborhood" name="neighborhood" class="form-control">
    <!-- Input for neighborhood end -->
  </div>
  <!-- Label and input for neighborhood end -->

  <button class="btn btn-block btn-outline-secondary">
    Create venue
  </button>
</form>

<hr>

<a href="/venues">
  Go back
</a>
