<h1>
  Add a new venue
</h1>


<hr>

<form action="/create_venue" method="post">

  <div class="form-group">
    <label for="cuisine">
      Cuisine
    </label>

    <input type="text" id="cuisine" name="cuisine" class="form-control">
  </div>

  <div class="form-group">
    <label for="neighborhood">
      Neighborhood
    </label>

    <input type="text" id="neighborhood" name="neighborhood" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create venue
  </button>
</form>

<hr>

<a href="/venues">
  Go back
</a>
