<h1>
  Add a new bookmark
</h1>


<hr>

<!-- Form bookmark start -->
<form action="/create_bookmark" method="post">
<!-- Form bookmark end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @bookmark.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for venues_id start -->
  <div class="form-group">
    <label for="venues_id">
      Venues
    </label>

    <!-- Input for venues_id start -->
    <%= select_tag(:venues_id, options_from_collection_for_select(Venue.all, :id, :cuisine, @bookmark.venues_id), :class => "form-control") %>
    <!-- Input for venues_id end -->
  </div>
  <!-- Label and input for venues_id end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <label for="dish_id">
      Dish
    </label>

    <!-- Input for dish_id start -->
    <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name, @bookmark.dish_id), :class => "form-control") %>
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
